SECRET_KEY=
DEBUG=

#настройки сервера базы данных
NAME=
USER=
PASSWORD=
HOST=
PORT=

#настройки почтового сервера
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_USE_SSL=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=