<!-- catalog/home.html -->

{% extends 'catalog/base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
{% include 'catalog/header.html' %}
<div class="row text-center">
    {% for prod in products %}
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ prod.product_name }}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$ {{ prod.price }}</h1>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>Описание: {{ prod.product_description|truncatechars:100}}</li>
                    <li>Категория: {{ prod.category }}</li>
                </ul>
                <div class="btn-group">
                    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'catalog:product_details' prod.pk %}">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
