<!-- product_details.html -->
{% extends 'catalog/base.html' %}

{% block title %}Информация о товаре{% endblock %}

{% block content %}
{% include 'catalog/header.html' %}
<p>Изображение: <img src="{{ product.photos.url }}" alt="{{ product.product_name }}"></p>
<h2>{{ product.product_name }}</h2>
<p>Описание: {{ product.product_description }}</p>
<p>Категория: {{ product.category }}</p>
<p>Цена за покупку: {{ product.price }}</p>

<a href="{% url 'catalog:product_update' product.pk %}" class="btn btn-secondary">Редактировать</a>
<a href="{% url 'catalog:product_delete' product.pk %}" class="btn btn-danger">Удалить</a>
<a href="{% url 'catalog:products' %}" class="btn btn-primary">Вернуться к списку</a>

{% endblock %}
